@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-1920: 1920px;
  --breakpoint-1600: 1600px;
  --breakpoint-1440: 1440px;
  --breakpoint-1280: 1280px;
  --breakpoint-1080: 1080px;
  --breakpoint-900: 900px;
  --breakpoint-700: 700px;
  --breakpoint-550: 550px;
  --breakpoint-400: 400px;
  --breakpoint-360: 360px;

  /* Colors */

  --color-primary: #1f1f1f;
  --color-secondary: #3c454a;
  --color-third: #106b37;

  /* Animation */

  --animate-infiniteScroll: infiniteScroll 30s linear infinite;

  @keyframes infiniteScroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

*,
*::after,
*::before {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background: white;
  color: #222;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.request__close:after,
.request__close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #ffffff;
}
.request__close:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.request__close:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.bottom_line,
.bottom_line_reverse {
  position: relative;
}

.bottom_line::before,
.bottom_line_reverse::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1vw;
  background: #222;
  height: 0.5px;
  transition: all 0.3s cubic-bezier(0.32, 0, 0.12, 1);
}

.bottom_line::before {
  width: 0%;
}
.bottom_line_reverse::before {
  width: 100%;
}

.bottom_line:hover::before {
  width: 100%;
}
.bottom_line_reverse:hover::before {
  width: 0%;
}

.hero_swiper .swiper-wrapper {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}

.services_swiper .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.services_swiper .swiper-slide {
  position: relative;
  display: grid;
  place-content: center;
}

.services_swiper .swiper-slide::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 50%;
  width: 1px;
  background: #ccc;
}

.parallax_scroll .parralax_img:nth-of-type(1) {
  height: 60vh;
  width: 50vh;
  z-index: 1;
}
.parallax_scroll .parralax_img:nth-of-type(2) {
  left: 55vw;
  top: 15vh;
  height: 40vh;
  width: 30vh;
  z-index: 2;
}
.parallax_scroll .parralax_img:nth-of-type(3) {
  left: 27.5vw;
  top: 45vh;
  height: 25vh;
  width: 20vh;
  z-index: 3;
}

@media screen and (max-width: 900px) {
  .parallax_scroll .parralax_img:nth-of-type(1) {
    height: 70vh;
    width: 60vw;
    z-index: 1;
  }
  .parallax_scroll .parralax_img:nth-of-type(2) {
    left: 55vw;
    top: 20vh;
    height: 40vh;
    width: 35vw;
  }
  .parallax_scroll .parralax_img:nth-of-type(3) {
    left: 10.5vw;
    top: 40vh;
    height: 25vh;
    width: 25vw;
  }
}

@media screen and (max-width: 550px) {
  .parallax_scroll .parralax_img:nth-of-type(1) {
    height: 45vh;
    width: 65vw;
    z-index: 1;
  }
  .parallax_scroll .parralax_img:nth-of-type(2) {
    left: 55vw;
    height: 22.5vh;
    width: 35vw;
  }
  .parallax_scroll .parralax_img:nth-of-type(3) {
    left: 7.5vw;
    top: 30vh;
    height: 20vh;
    width: 30vw;
  }
}
